body {
    background-color: #761529;
}

.app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;


    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    width: 100%;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex: 1 1 100%;
    margin: auto;
    z-index: 501;
}

.footer {
    color: white;
    text-shadow: black 0 0 3px;
    text-align: center;
}

.card-nav {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;

    top: 50%;

    background-color: rgba(0,0,0,0.1);
    border-radius: 1.25rem;

    z-index: 600;
}

.card-nav.left{
    left: 2.5%;
}

.card-nav.right{
    right: 2.5%;
}

.card-nav .svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
}

.flipper {
    /*position: absolute;*/

    transition: 0.6s;
    transform-style: preserve-3d;
}

.flipper.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    max-width: 100%;

    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.comic-card {
    position: absolute;
    height: auto;

    opacity: 1;
    background-color: white;
    border-radius: 20px;
}

.comic-card .text-overlay {
    position: absolute;
}

.comic-card div img {
    max-width: 100%;
    border-radius: 20px;
}

.card-slide-enter-active, .card-slide-leave-active {
    -webkit-transition: all 0.4s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 0.4s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 0.4s cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 0.4s cubic-bezier(.25,.46,.45,.94);
    transition: all 0.4s cubic-bezier(.25,.46,.45,.94);
}

.card-slide-enter, .card-slide-leave-to {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 0 100%;

    transform: rotate(-20deg);
    opacity: 0;
}

.comic-info {
    background-color: white;
    border-radius: 20px;

    align-content: center;
}

.comic-info div {
    position: absolute;
    padding: 2.5rem;

    text-shadow: white 0 0 3px;

    z-index: 500;
}

.comic-info img {
    max-width: 100%;
    border-radius: 20px;
    z-index: 490;
}
