<template id="card-list">
    <div class="content">
        <div class="card-nav left"
             v-show="navArrows && !flipped"
             @click="progress(-1)">
            <img src="/static/images/icons/chevron-left.svg" class="svg"/>
        </div>
        <div class="card-nav right"
             v-show="navArrows && !flipped"
             @click="progress(1)">
            <img src="/static/images/icons/chevron-right.svg" class="svg"/>
        </div>
        <div class="flipper"
             :class="{flipped: flipped}"
             @click="flip()">
            <div class="front">
                <comic-card
                        v-for="page in pageList"
                        :key="pageList.indexOf(page)"
                        :idx="pageList.indexOf(page)"
                        :page="page"
                        :current-page-no="currentPage"
                        :text-visible="textVisible">
                </comic-card>
            </div>
            <div class="back comic-info">
                <div>
                    <h1>{{title}}</h1>
                    <p>Current Page: {{currentPage + 1}} (of {{pageList.length}})</p>
                    <p>Progress: {{progressPercent}}%</p>
                </div>

                <img :src="cover">
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('CardList', {
        // props: ['currentPage', 'pagesList', 'textVisible', 'navArrows'],
        props: ['textVisible', 'navArrows'],
        data: function() {
            return {
                currentPage: 0,
                flipped: false,
                title: 'ProgArt',
                cover: '/comic-cards/static/images/progart/cover.png',
                pageList: [
                    {
                        imageFile:  '/comic-cards/static/images/progart/comic-1.png',
                        textFile:   '/comic-cards/static/images/progart/text-1.png'
                    },
                    {
                        imageFile:  '/comic-cards/static/images/progart/comic-2.png',
                        textFile:   '/comic-cards/static/images/progart/text-2.png'
                    },
                    {
                        imageFile:  '/comic-cards/static/images/progart/comic-3.png',
                        textFile:   '/comic-cards/static/images/progart/text-3.png'
                    },
                    {
                        imageFile:  '/comic-cards/static/images/progart/comic-2.png',
                        textFile:   '/comic-cards/static/images/progart/text-4.png'
                    },
                    {
                        imageFile:  '/comic-cards/static/images/progart/comic-1.png'
                    }
                ]
            };
        },
        template: '#card-list',
        mounted() {
            addSwipeListener(this.$el, this.swipeHandler);
            window.addEventListener('keydown', this.keyHandler);
        },
        computed: {
            progressPercent() {
                return 100 * (this.currentPage + 1) / this.pageList.length;
            }
        },
        methods: {
            test() {
                console.log('hello')
            },
            flip() {
                console.log('test flip');
                this.flipped = !this.flipped;
            },
            progress(progress) {
                if (this.flipped)
                {
                    return;
                }

                this.currentPage += progress;
                this.currentPage = (this.currentPage > this.pageList.length-1) ? this.pageList.length-1 :
                    (this.currentPage < 0) ? 0 : this.currentPage;

                this.$emit('card-change');

            },
            swipeHandler(direction) {
                var progression = (direction == 'left') ? 1 :
                    (direction == 'right') ? -1 : 0;
                this.progress(progression);
            },
            keyHandler(e) {
                var direction = (e.key == 'ArrowLeft') ? -1 :
                    (e.key == 'ArrowRight') ? 1 : 0;
                this.progress(direction);
            }
        }
    });
</script>