<template id="comic-card">
    <transition name="card-slide">
        <div class="comic-card"
             :class="{'active': isCurrentPage}"
             v-show="!isPastPage"
             :style="'z-index: ' + (500-idx) + ';'">
            <div class="text-overlay" v-show="textOverlayVisible">
                <img :src="textOverlay"/>
            </div>
            <div>
                <img :src="image"/>
            </div>

        </div>
    </transition>
</template>

<script>
    Vue.component('ComicCard', {
        props: {
            page: {
                type: Object,
                default: {
                    imageFile: '',
                    textFile: ''
                }
            },
            idx: {
                type: Number,
                default: 0
            },
            currentPageNo: Number,
            textVisible: {
                type: Boolean,
                default: true
            }
        },
        template: '#comic-card',
        created() {
        },
        computed: {
            textOverlayVisible() {
                return this.page.hasOwnProperty('textFile') && this.page.textFile != '' && this.textVisible;
            },
            textOverlay() {
                return this.page.textFile;
            },
            image() {
                return this.page.imageFile || '';
            },
            isCurrentPage() {
                return this.currentPageNo == this.idx && this.currentPageNo != null;
            },
            isPastPage() {
                return this.idx < this.currentPageNo;
            }
        },
        methods: {
        }
    });
</script>