<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/comic-cards/static/css/cards.css">

</head>
<body>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/vue.js"></script>
<script src="/static/js/lib/helper.js"></script>
<script src="/comic-cards/static/js/main.js"></script>

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="app">

    <header class="header">
        <div class="title">
            <h1 class="header__title">Comic Cards</h1>
        </div>

        <div class="buttons">
            <div @click="toggleText()" v-show="!text">
                <img src="/static/images/icons/note.svg" class="svg"/>
                <img src="/static/images/icons/circle-slash.svg" class="svg"/>
            </div>
            <div @click="toggleText()" v-show="text">
                <img src="/static/images/icons/note.svg" class="svg"/>
            </div>
            <div @click="toggleNavArrows()" v-show="!navArrows">
                <img src="/static/images/icons/code.svg" class="svg"/>
                <img src="/static/images/icons/circle-slash.svg" class="svg"/>
            </div>
            <div @click="toggleNavArrows()" v-show="navArrows">
                <img src="/static/images/icons/code.svg" class="svg"/>
            </div>
        </div>
    </header>

    <card-list :nav-arrows="navArrows"
               :text-visible="text"
               @card-change="text=true">
    </card-list>

    <footer class="footer">
        <p>
            Hey there! Do you want to use this format for a comic? Download the source code and comic template <a href="">here</a>. <br>
            <!-- If you want me to continue to improve this format feel free to email me and ask how you can help out. -->
        </p>
    </footer>

</div>

{% includeFile '/js/vue/components/CardList.vue' %}
{% includeFile '/js/vue/components/ComicCard.vue' %}

<script src="/comic-cards/static/js/vue/app.js"></script>

<script src="/static/js/lib/svg-converter.js"></script>
</body>
</html>